<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>kitchenApp</h1>
            
        </div>
        <!-- footer -->
        <footer>
        <div class="row">
         <div class="twelve columns">
          <ul class="copyright text-center  display-6">
             <p>&copy; Copyright 2021 All rights reserved </p>
          </ul>
        </div>
    </div>
  </footer>

        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
