<div class="container text-center">
<div class="card mb-3" style="max-width: px;">
  <h2>About us</h2>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1556910096-6f5e72db6803?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8a2l0Y2hlbiUyMHByb2R1Y3RzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">Different kinds of products are available in our company.<br> We′re pleased to get your Inquiry and we will reply you as soon as possible. <br>We stick to the principle of "quality first, service first, continuous improvement and innovation to meet the customers" for the management and "zero defect, <br> complaints" as the quality objective.</p>
        </div>
      </div>
    </div>
  </div>
<br><br>
  <div class="card mb-3" style="max-width: px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">A philosophy built on professional service and responsibility is the foundation of our commitment to commercial kitchen equipment excellence.
            white_check_mark
            eyes
            raised_hands
            
            Make life easier with the advanced appliances that are engineered by experts to be of optimum use. Kitchen Products App brings you a varied range of stylish and utilitarian kitchen appliances from a number of popular brands like Moulinex, Tefal, Black & Decker, Kenwood, Krups, Magic Bullets and many others. All you need to do is browse the list and make your pick based on your requirement.</p>
        </div>
      </div>

      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1603728450132-ea62d4c8594e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGtpdGNoZW4lMjBwcm9kdWN0c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>