/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: sans-serif;
}

/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
button{
    padding: 15px 10px;
    background-color: skyblue;
    margin-right: 1px;
    color: white;
    font-weight: 600;
    border: none;
    width: 100px;
}
button:disabled{
    background-color: gray;
    opacity: 0.8;
    color: white;
}

.block{
    width: 320px;
    background: linear-gradient(370deg, blue,red);
    height: 350px;
    display: flex;
} */